#bod, header {
    width: 700px;
    border-style: solid;
    margin-top: 20px;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: WhiteSmoke;
    box-shadow: 5px 6px 5px rgba(0,0,0,0.2);
}

header {
    display: block;
}

body {
	background-image: url(background.png);
   
}

h2, .alignText {
	text-align: center;
	display: inherit;
}

.center input, .center button {
	display: block; 
	margin: auto;	
	margin-top: 10px; 
}

.center ul{
	display: block;
	padding-left: 35%;
	margin-bottom: 10px;
}

.center li {
	display: inline;
	margin-left: 20;
	text-align: center;
	margin-bottom: 20px;
}
h1 {
	text-align: center;
}

.helptext {
	display: block;
	margin: auto;
	padding-left: 50px;
}
label {
	padding-left: 30px;

}
#bod li, .helptext {
	color: rgba(228,0,6,0.7);
}  

button {
	display: block;
	margin: auto;
}  

a {
	text-decoration: none;
}

.alignCenterPadding {
	text-align: center;
	margin-bottom: 20px;

}

textarea {
	max-width: 100%;
	width: 100%;
	min-width: 100%;
}

.alignCenterMarginTop {
	text-align: center;
	margin-top: 10px;
}
.alignText a {
	display: inherit;
}