{% include "debut.html" %}
{% include "header.html" %}

<div id="bod">
  <h2>Faites approuver votre code</h2>
  <p class="alignText"> Bienvenue à vous, vous pourrez ici donner vos avis
    sur le code des gens et recevoir des avis !</p>
  
  {% if request.user.is_authenticated %}
  <a class="alignText" href="/codiller">Soumettre votre code</a><br/>
  <a class="alignText" href="/valider">Valider du code</a><br/>
  <a class="alignText" href="/moncode">Voir votre code</a><br/>
  {% else %}
  <i class="alignText">Connectez vous pour accéder aux fonctionnalités...</i>
</div>
  {% endif %}
{% include "fin.html" %}
